body {
  background-color: #567D46;
}

.game {
  padding: 20px 0;
  width: 450px;
  text-align: center;
  display: -webkit-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main-area {
  letter-spacing: 0.2rem;
  color: white;
  display: -webkit-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
}

.game-title {
  font-size: 2rem;
  width: 100%;
  color: white;
  text-align: center;
}

.welcome-message {
  font-size: 1.5rem;
  width: 100%;
  color: white;
  text-align: center;
}

.game-login {
  text-align: center;
}

.game-hole {
  margin: 2px;
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.hole-location {
  background: url(../src/pictures/brown-hole.png);
  background-size: 95%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  top: 75%;
}

.game-start-button {
  font-size: 1rem;
  padding: 0.6rem 0.6rem 0.7rem 0.6rem;
  color: white;
  border: 2px solid #FCB942;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Amaranth', sans-serif;
  letter-spacing: 0.13rem;
}

.game-board {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}